.task-list-container {
  .task-list-heading-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: var(--text-heading);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
    }

    .filter-div {
      display: flex;
      align-items: center;
      gap: 16px;

      .category-selection,
      .status-selection {
        .dropdown-wrapper {
          position: relative;
          min-width: 200px;

          .dropdown-button {
            display: flex;
            height: 50px;
            padding: 12px 16px 12px 16.5px;
            justify-content: center;
            align-items: center;
            gap: 90.5px;
            border-radius: 8px;
            border: 1px solid #e1e1e1;
            background: #fff;
            cursor: pointer;
            transition: all 0.2s ease;
            font-family: Poppins;

            .dropdown-text {
              color: var(--gray-500);
              font-family: "Plus Jakarta Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 164%;
            }

            .dropdown-icon {
              display: flex;
              width: 20px;
              height: 20px;
              padding: 5.833px 1.667px 5.066px 1.667px;
              justify-content: center;
              align-items: center;
            }
          }

          .dropdown-menu {
            position: absolute;
            display: flex;
            width: 219px;
            padding: 6px 14px;
            flex-direction: column;
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: 8px;
            background: #fff;
            box-shadow: 25px 23px 68px 0 rgba(10, 48, 61, 0.06);

            .dropdown-content {
              padding: 8px 10px;
              display: flex;
              justify-content: center;
              align-items: start;
              flex-direction: column;
              color: rgba(6, 17, 10, 0.5);
              font-family: "Plus Jakarta Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
              gap: 8px;
            }

            .dropdown-item {
              display: flex;
              gap: 8px;
              justify-content: center;
              align-items: center;

              .checkbox-wrapper {
                position: relative;
                display: flex;
                align-items: center;

                .dropdown-checkbox {
                  width: 16px;
                  height: 16px;
                  accent-color: #10b981;
                  border: 2px solid #d1d5db;
                  border-radius: 8px;
                  cursor: pointer;

                  &:checked {
                    background-color: var(--main);
                    border: none;
                  }
                }

                .checkbox-checkmark {
                  position: absolute;
                  inset: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  pointer-events: none;

                  .checkmark-icon {
                    width: 8px;
                    height: 6px;
                    color: #000;
                  }
                }
              }

              .dropdown-label {
                color: var(--text-heading);
                font-family: "Plus Jakarta Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }

      .add-task-button {
        cursor: pointer;
        display: flex;
        width: 231px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--main);
        color: var(--text-heading);
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 164%;
        text-transform: capitalize;

        &:active{
          scale: 0.98;
          transform: translateY(1px);
        }
      }
    }
  }

  .no-task-div {
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    img {
      height: 336px;
      width: 432px;
    }
    h3 {
      color: var(--text-heading);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
    }
  }

  .task-card-div {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    .task-single-card {
      cursor: pointer;
      width: 400px;
      display: inline-flex;
      padding: 20px 22px;
      flex-direction: column;
      align-items: flex-start;
      gap: 28px;
      border-radius: 8px;
      border: 1px solid #e1e1e1;
      background: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);

      &:hover{
        border: 1px solid var(--main);
      }

      .task-card-header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        gap: 14px;

        .icon-cat-div {
           display: flex;
           align-items: start;
           justify-content: center;
           gap: 14px;
          .icon {
            width: 43px;
            height: 43px;
            flex-shrink: 0;
            background-color: var(--main);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .task-category {
            color: var(--black);
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 132%;
            letter-spacing: -0.48px;
          }
        }

        .task-details {
          margin-top: 6px;
          color: var(--gray-500);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 164%;
        }
        .trash {
          cursor: pointer;
          height: 60px;
          width: 60px;
          display: flex;
          align-items: start;
          justify-content: end;

          img{
            height: 20px;
            width: 20px;
          }
        }
      }
      .task-card-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task-deadline {
          display: flex;
          align-items: flex-start;
          gap: 12px;
          justify-content: center;
          color: var(--text-heading);
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 164%;
        }
        .task-status {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .status-text {
            text-align: right;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 164%;
          }
        }
      }
    }
  }
}

.pending-color {
  color: #e343e6;
}
.inprogress-color {
  color: #dd9221;
}
.done-color {
  color: #21d789;
}
