.dashboard-container{
    background-color: #FAFAFA;
    min-height: 100dvh; 
    position: relative;
    padding-bottom: 40px;

    .taskList-div{
        background-color: #FFFFFF;
        position: relative;
        top: -60px;
        max-width: 1320px;
        margin: auto;
        border-radius: 15px;
        padding: 30px 30px 94px;
    }
}