.reset-pass-container {
  .header-bg {
    height: 174px;
    background: url("/svg/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .reset-pass-contents {
    position: relative;
    padding-bottom: 88px;
    top: -60px;
    max-width: 1320px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 23px 44px 0 rgba(176, 183, 195, 0.14);
    margin: auto;
    .header {
      padding: 88px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96.75px;
        height: 96.75px;
        flex-shrink: 0;
        border-radius: 24.188px;
        background: linear-gradient(102deg, #05e389 3.72%, #009a62 80.82%);
        img {
          height: 60px;
          width: 60px;
        }
      }
      h3 {
        color: var(--text-heading);
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 132%;
        letter-spacing: -0.8px;
        margin-top: 30px;
      }
      p {
        margin-top: 12px;
        color: var(--gray-500);
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 164%;
      }
    }

    .form-content {
      display: flex;
      justify-content: center;
      align-items: center;
      .form-div {
        width: 558px;
        .input-field {
          display: flex;
          flex-direction: column;
          label {
            color: var(--text-heading);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 132%;
            letter-spacing: -0.32px;
            margin-bottom: 12px;
          }
          input {
            display: flex;
            width: 558px;
            height: 52px;
            padding: 11px 15px;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            background: #fff;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            margin-bottom: 32px;
          }
          .error-message {
            color: rgb(225, 81, 81);
            font-weight: 500;
          }
        }
        .reset-pass-btn {
          display: flex;
          width: 558px;
          padding: 15px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: var(--main);
          color: var(--text-heading);
          font-family: "Plus Jakarta Sans";
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 164%;
          text-transform: capitalize;
          cursor: pointer;
          &:active{
            scale: 0.98;
          }
        }
      }
    }
  }
}
