.dashboard-header-container {
  height: 306px;
  background: url("/svg/dashboard-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;

  header {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    align-items: center;
    position: relative;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
      img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        padding: 7px;
        border-radius: 8px;
        background-color: #477267;
      }
    }
    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: #fff;

      .nav-menu-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 164%;
        text-transform: capitalize;

        &:hover {
          color: var(--main);
        }

        &.active {
          color: var(--main);
        }
      }
    }
    .user-icon {
      .notification-icon{
        background-color: rgba(255, 255, 255, 0.10);
        margin-right: 28px;
        padding: 6px;
        border-radius: 50%;
        img{
          height: 22px;
          width: 22px;
        }
      }
      .badge {
        margin-right: 28px;
        display: flex;
        padding: 2px 6px;
        justify-content: center;
        align-items: center;
        gap: 18px;
        border-radius: 114px;
        background: rgba(182, 144, 240, 0.22);
        backdrop-filter: blur(45.75px);

        .badge-icon-div {
          img{
            height: 28px;
            width: 28px;
          }
        }
        .badge-level {
          color: var(--60-background-white, #fff);
          font-family: "Plus Jakarta Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 164%; 
          text-transform: capitalize;
          padding-right: 8px;
        }
      }
      .user-dp {
        border-radius: 50%;
        margin-right: 10px;
        img {
          border-radius: 50%;
        }
      }
      cursor: pointer;
      h3 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 164%;
        text-transform: capitalize;
      }
    }
  }
  .welcome-message {
    max-width: 1320px;
    margin: auto;
    p {
      color: var(--main);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
      margin-bottom: 4px;
    }
    h3 {
      color: #fff;
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.8px;
    }
  }
}
