@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
    --primary-black:#040612;
    --main:#60E5AE;
    --text-heading:#1f1f1f;
    --gray-500:#667085;
    --black:#161616;
}

.task-status.pending-color {
  --svg-fill-color: #E343E6; 
}

.task-status.done-color {
 --svg-fill-color: #21D789; 
}

.task-status.inprogress-color {
  --svg-fill-color: #DD9221; 
}

body{
  background-color: #FAFAFA;
}