.header-container {
  height: 174px;
  background: url('/svg/header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  
  header {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    align-items: center;
    z-index: 1000;

    .logo {
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
    }
    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: #fff;

      .nav-menu-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 164%;
        text-transform: capitalize;

        &:hover {
          color: var(--main);
        }

        &.active {
          color: var(--main);
        }
      }
    }
    .user-icon {
      h3 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 164%;
        text-transform: capitalize;
      }
    }
  }
}
