.header-container {
  height: 174px;
  background: url("/svg/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;

  header {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    align-items: center;
    z-index: 1000;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 132%;
      letter-spacing: -0.48px;
      img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        padding: 7px;
        border-radius: 8px;
        background-color: #477267;
      }
    }
    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      color: #fff;

      .nav-menu-item {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 164%;
        text-transform: capitalize;

        &:hover {
          color: var(--main);
        }

        &.active {
          color: var(--main);
        }
      }
    }
    .user-icon {
      .notification-icon {
        background-color: rgba(255, 255, 255, 0.1);
        margin-right: 28px;
        padding: 6px;
        border-radius: 50%;
        img {
          height: 22px;
          width: 22px;
        }
      }
      .badge {
        margin-right: 28px;
        display: flex;
        padding: 2px 6px;
        justify-content: center;
        align-items: center;
        gap: 18px;
        border-radius: 114px;
        background: rgba(182, 144, 240, 0.22);
        backdrop-filter: blur(45.75px);

        .badge-icon-div {
          img {
            height: 28px;
            width: 28px;
          }
        }
        .badge-level {
          color: var(--60-background-white, #fff);
          font-family: "Plus Jakarta Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 164%;
          text-transform: capitalize;
          padding-right: 8px;
        }
      }
      .logout-toggle-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        h3 {
          color: #fff;
          font-family: "Plus Jakarta Sans";
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 164%;
          text-transform: capitalize;
        }
      }
    }
  }
}

// ------------------responsive desig (mobile)-----------------
@media (max-width: 576px) {
  .header-container {
    max-width: 576px;
    overflow: hidden;
    height: 650px;
    padding: 20px;

    header {
      max-width: 576px;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 52px;
      align-items: center;
      z-index: 1000;

      .logo {
        margin-bottom: 30px;
        font-size: 28px;
        letter-spacing: 0.48px;
        img {
          width: 42px;
          height: 42px;
        }
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
      }
      .user-icon {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}
